<app-nav></app-nav>
<div class="container">
    <div class="jumbotron">
        <h1>We Are Coming Very Soon!</h1>
        <br/>
        <div *ngIf="time | async as time">
            <div class="container">
                <div class="row d-flex justify-content-center" style="margin-left:4px;">
                    <div class="col col-lg-1 col-sm-6 digits">{{time.days}}
                        <div class="smalltext">DAYS</div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 digits">{{time.hours}}
                        <div class="smalltext">HOURS</div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 digits">{{time.minutes}}
                        <div class="smalltext">MINUTES</div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 digits">{{time.seconds}}
                        <div class="smalltext">SECONDS</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>
            You do the healing, We do the running!
        </h2>
        <br/>
        <div class="row d-flex justify-content-center" style="margin-left:4px;">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Get notify by mail" aria-label="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary btn-lg" type="button" style="cursor:pointer;"><span class="send">SEND</span></button>
                    </span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row d-flex justify-content-center" style="margin-left:4px;">
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <br/>
        <div class="row justify-content-center">
            <p class="footer">Awnics Technologies Pvt. Ltd. 2017 &copy;</p><br/>
        </div>
    </div>
</div>
<router-outlet></router-outlet>