<app-nav></app-nav>
<div class="container">
    <div class="jumbotron">
        <h1>We Are Coming Soon!</h1>
        <br/>
        <div *ngIf="time | async as time">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col col-lg-1 col-sm-6 digits">{{time.days}}
                        <div class="smalltext">DAYS</div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 digits">{{time.hours}}
                        <div class="smalltext">HOURS</div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 digits">{{time.minutes}}
                        <div class="smalltext" style="margin-left:-3px;">MINUTES</div>
                    </div>
                    <div class="col col-lg-1 col-sm-6 digits">{{time.seconds}}
                        <div class="smalltext" style="margin-left:-4px;">SECONDS</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>
            You do the healing, We do the running!
        </h2>
        <br/>
        <div class="row justify-content-center">
            <div class="alert" id="alert">
                {{msg}}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <form novalidate [formGroup]="newContact" (ngSubmit)="onSubmit(newContact)">
                    <span class="emailError" id="emailError">
                        Please enter a valid email ID.
                    </span>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control form-control-lg" formControlName="emailTo" autocomplete="on" placeholder="abc@example.com" aria-label="Search for...">
                            <span class="input-group-btn">
                    <button class="btn btn-secondary btn-lg" type="submit" style="cursor:pointer;"><span class="send">SUBSCRIBE</span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row d-flex justify-content-center">
            <ul class="social-icons">
                <li><a href="https://twitter.com/mesomeds" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/mesomeds.in" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/showcase/13259014/admin/updates" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/AWNICS" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://mesomeds.wordpress.com" target="_blank"><i class="fa fa-wordpress" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <br/>
        <div class="row justify-content-center">
            <p class="footer">&copy; 2017 Awnics Technologies Pvt. Ltd.</p><br/>
        </div>
    </div>
</div>