div {
    background-color: transparent;
}

.jumbotron {
    text-align: center;
    padding: 100px 0px;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    margin: 20px 0px;
}

.digits {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    line-height: 68px;
    color: #ffffff;
    margin: 8px;
    animation: pulse 1.01s ease infinite;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(14, 159, 216, 0.82);
    width: 110px;
    height: 110px;
}

.smalltext {
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: normal;
    padding: 0px;
}

h1 {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1.5;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 90px;
    color: #ffffff;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.btn-secondary {
    background-color: #00AAFF;
    color: #ffffff;
    border: none;
}

.send {
    font-family: "Work Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

input {
    font-family: "Work Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #555555;
}

.social-icons {
    margin-top: 20px;
    padding: 0;
}

.social-icons li {
    margin: 8px;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #093E4B;
    padding: 5px 8px;
    background-color: #00AAFF;
    border: 0.5px solid rgba(9, 63, 75, 0.12);
    border-radius: 50%;
}

.social-icons li a i {
    font-size: 16px;
}

.social-icons li a:hover,
.social-icons li a:focus {
    background-color: #ffffff;
    color: #093E4B;
    box-shadow: 0px 1px 4px 2px #093E4B;
}

.fa-facebook {
    padding: 1px 4.5px;
}

.fa-twitter {
    padding: 1px 2px;
}

.fa-linkedin {
    padding: 1px 3px;
}

.fa-github {
    padding: 1px 3px;
}

.fa-wordpress {
    padding: 1px 2px;
}

.footer {
    color: #ffffff;
}

.alert {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    background-color: rgba(0, 170, 255, 0.73);
    color: #ffffff;
    padding: 5px;
    max-width: 50%;
    border: none;
    display: none;
}

.emailError {
    padding: 5px;
    margin: 5px;
    color: #B10606;
    background-color: rgba(168, 5, 5, 0.36);
    border: none;
    border-radius: 4px;
    display: none;
}